/* Your styles should be mobile-first and responsive */
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

body {
  background-image: url("https://wallpaperaccess.com/full/1547801.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Comic Neue', cursive;
  font-size: .9rem;
  line-height: 1.25rem;
  padding-bottom: 20px;
  height: fit-content;
} 

h2, main, div, section, form {
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  padding: 10px 0;
  font-size: 1.25rem;
  margin: .4rem auto;
  width: 90%;
  text-align: center;
  background-color: rgba(244, 244, 244, .95);
  border-radius: 2rem;
  border: rgba(11, 11, 11, .95) solid 3px;
}

header {
  text-align: center;
}
 
main {
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: fit-content;
  border-radius: 2rem;
  background-color: rgba(244, 244, 244, .95);
  border: rgba(11, 11, 11, .95) solid 3px;
}

h1, h3 {
  color: black;
  text-align: center;
}

.center-text {
text-align: center;
}

.js-main-screen {
  width: 100%;
  height: 100%; 
  padding: 0px 15px;
}
  
.js-results-text {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
}

#js-answer-form {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

#js-answer-form > h3 {
  position: absolute;
  left: 0;
  bottom: 15px;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 15px auto;
  width: 100%;
}

h3 {
  text-align: right;
  font-size: .9rem;
}

button {
  padding: 5px 10px;
  min-width: 100px;  
  height: 40px;
  border: none;
  border-radius: 2rem;
  background-color: darksalmon;
  align-self: flex-end;
  font-size: 1.2rem;
}

.js-question-box {
  height: fit-content;
  padding: 0px 10px;
}

.js-answer-eval {
  display: inline-block;
  padding: 15px;
  margin: 10px auto 20px auto;
  width: 100%;
  border-radius: 2rem;
}

.input-container {
  flex-direction: row;
  width: 100%;
  padding: 3px 10px;
  border-radius: 2rem;
  margin: 2px;
}

input {
  margin-right: 15px;
  align-self: center;
}

label {
  width: 100%;
  line-height: 2rem;
}

.js-answer-button, .js-continue-button {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.js-end-button, .js-start-button {
  margin: 25px auto;
  align-self: center;
  height: 60px;
}

.js-end-button {
  padding: 5px 20px;
}

.correct {
  background-color: rgb(133, 224, 133);
}

.incorrect {
  background-color: rgb(228, 135, 135);
}



@media screen and (min-width: 750px) {
  main, h1 {
    width: 670px;
  }
}


@media screen and (min-width: 768px) {
  body, h3 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    margin: 20px auto;
    padding: 20px 0;
  } 

  h2 {
   font-size: 1.8rem;
   line-height: 2.25rem;
  } 

  .js-answer-eval {
    margin: 25px auto;
    line-height: 1.75rem;
    padding: 20px 30px;
  }

  label {
    font-size: 1.25rem;
  }

  .js-main-screen {
    padding: 0px 30px;    
  }

  button {
    min-width: 200px;  
    height: 60px;
    font-size: 2rem;    
  }

  #js-answer-form {
  padding-bottom: 75px;
  }

  #js-answer-form > h3 {
    font-size: 1.25rem;
  }

  /*label, #js-answer-form {
    font-size: 1.25rem;
  } */

  .js-answer-button, .js-continue-button {
    position: absolute;
    right: 0;
  }
  
  .js-end-button, .js-start-button {
    margin: 25px auto;
    align-self: center;
  }

  .js-results-text {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .js-answer-box {
    padding: 0;
  }
}